{
  "127.0.0.1": {
    "nodeId": "127.0.0.1",
    "containers": [
      null,
      null,
      null,
      null
    ]
  },
  "127.0.0.2": {
    "nodeId": "127.0.0.2",
    "containers": [
      null,
      null,
      null,
      null
    ]
  }
}
